.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
    margin-top: 50px ;
    margin-left: 100 px;
    margin-right: 100 px;
  }

  .form {
    padding: 1rem;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }

  .Margin{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    
  }

  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control1 label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .control1 input,
  .control1 textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
    height: 140px;
  }

  .control input,
  .control select,
  .control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
  }
  
  .actions {
    margin-top: 1rem;
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
  }

  .body {
    font-family: sans-serif;
    background-color: #dfdfdf;
  }
  

  .btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
  }
  
  .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  
  .btn--alt {
    background-color: transparent;
    color: #800040;
  }
  
  .btn--alt:hover {
    background-color: #f8dae9;
  }